body {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 60%;
  margin: 0 20%;
  background-color: blue;
}

#header ul li {
  display: flex;
  flex-direction: row;
}

#board {
  height: 500px;
  width: 60%;
  margin: 0 20%;
  background-color: red;
}

#player {
  height: 40%;
  width: 60%;
  margin: 0 20%;
  background-color: green;
}
