.button-start {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 10%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-start a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
  color: white;
}

.button-start a:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-start:hover a {
  padding-right: 15px;
}

.button-start:hover a:after {
  opacity: 1;
  right: 0;
}

/* Bouton set difficulty */
.button-difficulty {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 12%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-difficulty a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
  color: white;
}

.button-difficulty a:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-difficulty:hover a {
  padding-right: 15px;
}

.button-difficulty:hover a:after {
  opacity: 1;
  right: 0;
}

/* Button Submit answer */

.button-ok {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button-ok a {
  text-decoration: none;
  color: white;
}

.button-ok:hover {
  background-color: blue;
}

.button-ok:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* bouton submit bis */
